<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fis.fis_remote_learning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:theme="@style/WhiteStatusBar"
            android:name="com.fis.fis_remote_learning.forgotPassword.VerificationCode"/>
        <activity
            android:name="com.fis.fis_remote_learning.forgotPassword.ForgotPassword"
            android:theme="@style/WhiteStatusBar" />
        <activity
            android:name="com.fis.fis_remote_learning.CommentReport"
            android:theme="@style/BlackStatusBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fis.fis_remote_learning.FeeStatement"
            android:screenOrientation="landscape"
            android:theme="@style/BlackStatusBar"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.fis.fis_remote_learning.StudentRegistrationComplete"
            android:theme="@style/WhiteStatusBar" />
        <activity android:name="com.fis.fis_remote_learning.utils.MpesaActivity" />
        <activity
            android:name="com.fis.fis_remote_learning.SelectPackage"
            android:theme="@style/BlackStatusBar" />
        <activity android:name="com.fis.fis_remote_learning.classes.SendMail" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/WhiteStatusBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.fis.fis_remote_learning.UserProfile"
            android:theme="@style/LightAccentTitle" />
        <activity android:name="com.fis.fis_remote_learning.BottomPopupActivity" />
        <activity
            android:name="com.fis.fis_remote_learning.RegisterStudent"
            android:theme="@style/BlackStatusBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fis.fis_remote_learning.StudentProfiles"
            android:theme="@style/WhiteStatusBar" />
        <activity
            android:name="com.fis.fis_remote_learning.SingleStudentProfile"
            android:theme="@style/BlackStatusBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fis.fis_remote_learning.Register"
            android:theme="@style/LightAccentTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fis.fis_remote_learning.Login"
            android:theme="@style/LightAccentTitle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fis.fis_remote_learning.Homepage"
            android:theme="@style/BlackStatusBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.fis.fis_remote_learning.Introduction"
            android:theme="@style/WhiteStatusBar" />
        <activity
            android:name="com.fis.fis_remote_learning.SplashScreen"
            android:theme="@style/WhiteStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>